<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>StarBus | Bem-vindo a bordo!</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <link rel="shortcut icon" href="img/favicon.png">

        <link href='http://fonts.googleapis.com/css?family=Raleway:400,100,300,700,600,500' rel='stylesheet' type='text/css'>
		    <link href='http://fonts.googleapis.com/css?family=Droid+Serif:400,400italic,700' rel='stylesheet' type='text/css'>


        <link rel="stylesheet" href="css/slicknav.css">
        <link rel="stylesheet" href="css/owl.theme.css">
        <link rel="stylesheet" href="css/owl.carousel.css">
        <link rel="stylesheet" href="css/owl.transitions.css">
        <link rel="stylesheet" href="css/font-awesome.min.css">
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/main.css">
        <link rel="stylesheet" href="css/responsive.css">
        <script src="js/vendor/modernizr-2.6.2.min.js"></script>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- Add your site or application content here -->

         <!-- header Start
         ================================================= -->

        <section id="header">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="block-left">
							<nav class="navbar navbar-default" role="navigation">
							  <div class="container-fluid">
								<!-- Brand and toggle get grouped for better mobile display -->
								<div class="navbar-header">
								  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
									<span class="sr-only">Toggle navigation</span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
								  </button>
								  <div class="nav-logo">
									<a href="#"><img src="img/logo.png" alt="logo"></a>
								  </div>
								</div>

								<!-- Collect the nav links, forms, and other content for toggling -->
								<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
								  <ul class="nav navbar-nav">
									<li class="active"><a href="#">Home <span class="sr-only">(current)</span></a></li>
									<li><a href="#">App</a></li>
									<li><a href="#">Screenshots</a></li>
									<li><a href="#">Patrocine</a></li>
								  </ul>
								</div><!-- /.navbar-collapse -->
							  </div><!-- /.container-fluid -->
							</nav>
                        </div>
                    </div><!-- .col-md-6 -->

                    <div class="col-md-6">
                        <div class="block-right">
                            <div class="contact-area">
                                <ul>
                                    <li><i class="fa fa-envelope-o"></i>starbusdev@gmail.com</li>
                                </ul>
                            </div>
                        </div>
                    </div><!-- .col-md-6 close -->
                </div><!-- .row close -->
            </div><!-- .container close -->
        </section><!-- #heder close -->

        <!-- Slider Start
        ============================================================== -->

        <section id="slider">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="block">
                            <div class="slider-text-area">
                                <div class="slider-text">
                                    <h2>StarBus &copy;<br></h2>
                                    <p class="sub-slider-text">Suba a bordo!</p>
                                    <p class="slider-p">
                                      Veja como é fácil ter nas mãos as informações que precisas sobre o <br>
                                      transporte público de Teresina, baixe grátis o StarBus.
                                    </p>
                                    <button type="button" class="btn btn-default edit-button-1" onclick="window.open('https://play.google.com/store/apps/details?id=com.starbus', '_blank');")>
                                      DOWNLOAD
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div><!-- .col-md-12 close -->
                </div><!-- .row close -->
            </div><!-- .container close -->
        </section><!-- #slider close -->

        <!-- Service Start
        ============================================================= -->

        <section id="service">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="block-top">
                            <div class="service-header">
                                <h1>Como melhoramos seu transporte?</h1>
                                <p>
                                  Acreditamos que podemos ser uma poderosa ferramenta de Crowdsourcing
                                  que ajudará a melhorar o transporte público da cidade.
                                  Veja abaixo nossa proposta de valor:
                                </p>
                            </div>
                        </div>
                    </div><!-- .col-md-12 close -->
                </div><!-- row close -->
				<div class="row">
					<div class="col-md-12">
						<div class="block-bottom">
							<div class="service-tab">
								  <!-- Nav tabs -->
								  <ul class="badhon-tab" role="tablist">
									<li class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">
									<i class="fa fa-heart-o"></i>
									Informações que você precisa
									</a></li>
									<li><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">
									<i class="fa fa-briefcase"></i>
									Você avalia e opina
									</a></li>
									<li><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">
									<i class="fa fa-leaf"></i>
                  Construimos indicadores
									</a></li>
									<li><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">
									<i class="fa fa-briefcase"></i>
                  Compartilhamos Conhecimento
									</a></li>
									<li><a href="#umbrella" aria-controls="settings" role="tab" data-toggle="tab">
									<i class="fa fa-umbrella"></i>
									Queremos Parceiros
									</a></li>
								  </ul>

								  <!-- Tab panes -->
								  <div class="tab-content edit-tab-content">
									<div class="tab-pane active edit-tab" id="home">
										<div class="teb-icon-edit">
											<i class="fa fa-heart-o"></i>
										</div>
										<h1>Te damos as informações que precisa</h1>
										<p>
                      A falta de informações atualizadas e acessíveis sobre o transporte
                      publico é hoje um dos maiores problemas de mobilidade urbana.
                      Com o StarBus você tem todas a informações que precisa de forma rápida e intuitiva.
                      Paradas próximas, linhas de cada parada, itinerários das linhas, localização atual
                      dos ônibus, paradas próximas a um local e muito mais disponível a
                      qualquer hora em qualquer lugar em um só aplicativo.
                    </p>
									</div>
									<div class="tab-pane edit-tab" id="profile">
										<div class="teb-icon-edit">
											<i class="fa fa-briefcase"></i>
										</div>
										<h1>Você avalia e opina</h1>
										<p>
                      Com certeza o usuário é o melhor conhecedor dos problemas do transporte público.
                      Por isso, queremos dar a ele o poder de apontar problemas e mostrar referencias.
                      Com o StarBus você poderá avaliar diversos critérios de cada parada e veículo da cidade.
                      Por exemplo, você poderá classificar o quanto uma parada é insegura ou mal conservada,
                      de forma que essa informação poderá chegar mais facilmente as entidades responsáveis
                    </p>
									</div>
									<div class="tab-pane edit-tab" id="messages">
										<div class="teb-icon-edit">
											<i class="fa fa-leaf"></i>
										</div>
										<h1>Construimos indicadores</h1>
										<p>
                      Com a sua opinião e com a de outros usuários,
                      poderemos construir indicadores que podem apontar
                      problemas na mobilidade urbana da cidade.
                      Por exemplo, poderemos dizer qual a parada mais perigosa
                      da cidade do ponto de vista dos usuários ou qual a mais desconfortável.
                      Também poderemos dizer qual a parada que pode virar referencia para as outras.
                    </p>
									</div>
									<div class="tab-pane edit-tab" id="settings">
										<div class="teb-icon-edit">
											<i class="fa fa-briefcase"></i>
										</div>
										<h1>Compartilhamos Conhecimento</h1>
										<p>
                      As informações geradas pelos usuários poderão ser utilizadas
                      por intuições de ensino para gerar conhecimento cientifico,
                      bem como instituições e autoridades autoridades públicas que podem
                      impactar de maneira positiva na mobilidade urbana.
                    </p>
									</div>
									<div class="tab-pane edit-tab" id="umbrella">
										<div class="teb-icon-edit">
											<i class="fa fa-umbrella"></i>
										</div>
										<h1>Parceiros ajudam a manter a plataforma</h1>
										<p>
                      Instituições privadas com responsabilidade social podem ajudar a manter a plataforma
                      e em troca ganharão mais um ponto de contato direto com seu público alvo. A ideia também inclui
                      que essas instituições ajudem a financiar o transporte público individual dos usuários
                      que mais contribuiram com a plataforma.
                    </p>
									</div>
								  </div>
							</div>
						</div>
					</div><!-- .col-md-12 close -->
				</div><!-- row close -->
            </div><!-- .container close -->
        </section><!-- #service close -->


        <!-- contant-1 start
        ===================================================== -->

        <section id="contant-1">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="block-left">
                            <div class="contant-1-text-area">
                                <div class="contant-1-head">
                                    <h1>Um aplicativo que vai te ajudar a se organizar melhor.</h1>
                                </div>
                                <div class="contant-1-text">
                                    <h2>Calma, ainda dá tempo de você tomar o café da manhã. </h2>
                                    <p>Lembra quando você deixou de fazer algo
                                    porque teve de correr para a parada e o ônibus ainda demorou uma eternidade para passar?<br />
                                    Com StarBus você não corre esse risco, pois sabe exatamente onde o ônibus está. <br />
                                    Menos tempos na parada é mais tempo para você, menor o risco de asaltos e de ser vítima das
                                    intemperies do tempo.
                                    <p>
                                    <button type="button" class="btn btn-default edit-button-2" onclick="window.open('https://play.google.com/store/apps/details?id=com.starbus', '_blank');")>
                                      DOWNLOAD
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div><!-- .col-md-6 close -->
                    <div class="col-md-6">
                        <div class="block-right">
                            <div class="block-right-img">
                                <img src="img/mobile-phon-1.png" alt="img">
                            </div>
                        </div>
                    </div><!-- .col-md-6 close -->
                </div><!-- .row close -->
            </div><!-- .container close -->
        </section><!-- #contant-1 close -->


        <!-- Gallery Start
        ============================================================= -->

        <section id="gallery">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="block-top">
                            <div class="gallery-area">
                                <h1>Conheça nossa última versão!</h1>
                                <p>Estamos trabalhando constantemente para oferecermos novas funcionalidades. <br>
                                   Recebemos diversas sugetões de melhorias
                                   que foram implementadas e já estão disponíveis no aplicativo. <br />
                                   Veja abaixo algumas de nossas funcionalidades:
                                </p>
                            </div>
                        </div>
                    </div><!-- .col-md-12 -->
                </div><!-- .row close -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="block-bottom">
                            <div class="gallery-list" id="owl-demo">
                                <div class="gallery-items item">
                                    <div class="gallery-img">
                                        <img src="img/mobile-phon-2.png" alt="img">
                                    </div>
                                    <div class="gallery-items-text">
                                        <p>Veja o itinerário das linhas da cidade e rastrei os veículos
                                          de cada linha.
                                        </p>
                                    </div>
                                </div>
                                <div class="gallery-items item">
                                    <div class="gallery-img">
                                        <img src="img/mobile-phon-2.png" alt="img">
                                    </div>
                                    <div class="gallery-items-text">
                                        <p>Consulte as paradas próximas de um local, bem como a avaliação
                                          dos usuários sobre cada parada.
                                        </p>
                                    </div>
                                </div>
                                <div class="gallery-items item">
                                    <div class="gallery-img">
                                        <img src="img/mobile-phon-2.png" alt="img">
                                    </div>
                                    <div class="gallery-items-text">
                                        <p>Saiba quais paradas próximas de um local, possuem linhas que
                                        passam próximo do seu local atual.</p>
                                    </div>
                                </div>
                                <div class="gallery-items item">
                                    <div class="gallery-img">
                                        <img src="img/mobile-phon-2.png" alt="img">
                                    </div>
                                    <div class="gallery-items-text">
                                        <p>Favorite linhas e locais para acessa-los mais rapidamente.</p>
                                    </div>
                                </div>
                                <div class="gallery-items item">
                                    <div class="gallery-img">
                                        <img src="img/mobile-phon-2.png" alt="img">
                                    </div>
                                    <div class="gallery-items-text">
                                        <p>Use nosso pacote offline e economize seus dados moveis.</p>
                                    </div>
                                </div>
                                <div class="gallery-items item">
                                    <div class="gallery-img">
                                        <img src="img/mobile-phon-2.png" alt="img">
                                    </div>
                                    <div class="gallery-items-text">
                                        <p>Veja todas as linhas que passam em uma determinada parada.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- .col-md-12 close -->
                </div><!-- .row close -->
            </div><!-- .container close -->
        </section><!-- #gallery close -->


        <!-- Contant-2 Start
        =============================================================== -->

        <section id="contant-2">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="block-left">
                            <div class="contant-2-img">
                                <img src="img/mobile-phon-3.png" alt="img">
                            </div>
                        </div>
                    </div><!-- .col-md-6 close -->

                    <div class="col-md-6">
                        <div class="block-right">
                            <div class="contant-2-text-area">
                                <div class="contant-2-header">
                                    <h1>Seja nosso parceiro<br> e alcance seu público alvo</h2>
                                </div>
                                <div class="contant-2-text">
                                   <h2>Milhares de pessoas podem ver sua marca<br> diariamente.</h3>
                                   <p>
                                     Imagine que você possa divulgar seu produto para pessoas que
                                     de uma região específica. Ou que poderá divulgar uma promoção de seu estabelimento
                                     para pessoas que provavelmente estão próximas dele.
                                   </p>
                                   <button type="button" class="btn btn-default edit-button-3">SAIBA MAIS</button>
                                </div>
                            </div>
                        </div>
                    </div><!-- .col-md-6 close -->
                </div><!-- .row close -->
            </div><!-- .container close -->
        </section><!-- #contant-2 close -->

        <!-- testimonial Start
        ============================================================= -->

        <section id="testimonial">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="block">
                            <div class="testimonial-area">
                                <div class="tm-header">
                                    <h2>O que as pessoas estão dizendo...</h2>
                                </div>
                                <div class="tm-contant">
									<div class="tm-contant-items" id="slide-testimonial">
										<div class="tm-contant-list item">
											<div class="tm-img">
												<img src="https://lh5.googleusercontent.com/-qsDBr-TjVd8/AAAAAAAAAAI/AAAAAAAAAAA/4J3N5SjAVqQ/w48-c-h48/photo.jpg" alt="img">
											</div>
											<div class="tm-text">
												<p>Excelente Acerta sempre. Acompanhamento em tempo real.
                          Salvação para quem usa bus em Teresina.
                          <span>- Antonio Emanuel, Google Play</span>
                        </p>
											</div>
										</div>
                    <div class="tm-contant-list item">
                      <div class="tm-img">
                        <img src="https://scontent-gru.xx.fbcdn.net/v/t1.0-1/p160x160/13406869_1153062974714604_8891441745539245274_n.jpg?oh=4f32c7939eb1d81ce910483fbf3bd975&amp;oe=584CD6A4" alt="img">
                      </div>
                      <div class="tm-text">
                        <p>"Testei aqui o StarBus e consegui ver as linhas de ônibus q passam perto de onde estou,
                          melhor ainda, se precisar chegar em algum lugar dá p ver quais linhas passam lah perto e
                          passam tbm preto de onde estou! Essa funcionalidade ganhou minhas 5 estrelas!!!"
                          <span>- Wan Souza, Facebook </span></p>
                      </div>
                    </div>
										<div class="tm-contant-list item">
											<div class="tm-img">
												<img        src="https://lh3.googleusercontent.com/-euB2of-CgXI/AAAAAAAAAAI/AAAAAAAAAE0/ux1I2z299HY/w150-h150/photo.jpg)" alt="img">
											</div>
											<div class="tm-text">
												<p>"Gostei muito do app. Até agora não errou na localização dos ônibus. Ótimo pois como saiu muito cedo para trabalhar vou para a parada de ônibus apenas quando o ônibus está perto.
                            E isso é muito bom! Parabéns e as melhorias venham cada vez mais! "<span>-  Caroline Marques, Google Play</span></p>
											</div>
										</div>
									</div>
                                </div>
                            </div>
                        </div>
                    </div><!-- .col-md-12 close -->
                </div><!-- .row close -->
            </div><!-- .container close -->
        </section><!-- #testimonial close -->


        <!-- Submit Start
        ======================================================== -->

        <section id="submit-area">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="block">
                            <div class="submit-contant">
                                <div class="submit-header">
									<i class="fa fa-envelope-o"></i>
                                    <h3>Inscreva-se e aguarde nosso lançamento!</h3>
                                </div>
								<div class="submit-area">
									<div class="submit-bottom">
										<form action="">
											<input type="text" placeholder="Seu email...">
											<input type="submit" value="ENVIAR">
										</form>
									</div>
								</div>
                            </div>
                        </div>
                    </div><!-- .col-md-12 -->
                </div><!-- .row close -->
            </div><!-- .container close -->
        </section><!-- #submit close -->


        <!-- footer Start
        ====================================================================== -->

        <section id="footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="block">
                            <div class="footer-contant">
                                <h3>Dê um Oi pra gente!</h3>
                                <div class="social-icon">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-tumblr"></i></a>
                                    <a href="#"><i class="fa fa-google"></i></a>
                                    <a href="#"><i class="fa fa-flickr"></i></a>
                                    <a href="#"><i class="fa fa-youtube"></i></a>
                                </div>
                                <div class="support-link">
                                    <ul>
                                        <li><a href="#">Contato</a></li>
                                        <li><a href="#">Twitter</a></li>
                                        <li><a href="#">Business</a></li>
                                        <li><a href="#">Suporte</a></li>
                                        <li><a href="#">Developers</a></li>
                                        <li><a href="#">Termos e Políticas</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div><!-- col-md-12 -->
                </div><!-- .row -->
            </div><!-- .container -->
        </section><!-- #footer -->
















        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.10.2.min.js"><\/script>')</script>
        <script src="js/owl.carousel.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/plugins.js"></script>
        <script src="js/main.js"></script>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X');ga('send','pageview');
        </script>
    </body>
</html>
